.font{
    font-size:16px;
    color:#fff;
}
.m-bd{
    width:100%;
    height:500px;
    background-color: #3e6e8b;
    opacity: 0.8;
    margin-top:100px;
    padding:20px;
    font-size:16px;
    color:#fff;
}
.radius{
    border-radius:20px;
}
.pad{
    padding-left:10px;
}
.name{
    color:#fff;
    margin-top:21px;
}
.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:22px 15px 22px 20px;
}

.divider{
    border:2px solid #fff;
    margin-right:15px;
}

.person{
    width:120px;
    height:40px;
    border-radius:12px;
    background-color:red;
    /*position: absolute;*/
    /*top:126px;*/
    /*left:76px;*/
    text-align:center;
    line-height:40px;
}
.person a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
}